@media (max-width: 480px) {

 body .App .about-me-snippet {
    width: 60%;
    font-size: 1em !important;
    margin-top: 0px;
  }
}

@media (max-width: 1024px) {

 body .App .about-me-snippet {
    width: 60%;
    font-size: 12px;
  }
}

.App {
  font-family: 'Jura', sans-serif;
  
  .about-me-snippet {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    
      .terminal-line {
        color: #7bc5f3;
        
        &::before {
          content: "> ";
        }
      }
        
    .tidbit-line {
      color: #7bc5f3;
      
      .tidbit {
        text-decoration: underline;
        transition: color .5s;
        
        &:hover {
          cursor: pointer;
          color: #0d90e2;
          transition: color .5s;
        }
        
      }
    }
  }
  
  
  
} // End .App